In [2]:
import pandas as pd

## 1. Basics

DataFrame: A 2D table (like an Excel sheet) with rows and columns.

Series: A single column (a 1D array).

#### Series

In [70]:
s = pd.Series([1,2,3,4], name = 'my_series')
print(s)
print(type(s))

0    1
1    2
2    3
3    4
Name: my_series, dtype: int64
<class 'pandas.core.series.Series'>

In [72]:
#create a series from a dictionary

dictionary = { 'a' : 1, 'b' : 2, 'c' : 3}

ds = pd.Series(dictionary)

print(ds)

a    1
b    2
c    3
dtype: int64

In [73]:
dat = [11,12,13]
index = [1,2,3]
d = pd.Series(dat, index = index)
print(d)

1    11
2    12
3    13
dtype: int64

#### DataFrame

In [74]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df = pd.DataFrame(data)
print(df)
print(type(df))

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   28     Tokyo
<class 'pandas.core.frame.DataFrame'>

In [ ]:
df = pd.DataFrame(
    {
        "Name" : ['Aryan', 'Sai'],
        "Age" : [25, 24]
    }
)
print(df)

    Name  Age
0  Aryan   25
1    Sai   24

In [77]:
print(type(df['Name']))

<class 'pandas.core.series.Series'>

In [76]:
df = pd.DataFrame(
    [
        {"Name" : 'Aryan', 'Age':25},
        {"Name" : 'Sai', 'Age':23},
    ]
)
print(df)

    Name  Age
0  Aryan   25
1    Sai   23

Loading Data


Pandas can read data from multiple sources:

In [ ]:
# From CSV
df = pd.read_csv('data.csv')

# From Excel
df = pd.read_excel('data.xlsx')

# From JSON
df = pd.read_json('data.json')

# From SQL (example with SQLite)
import sqlite3
conn = sqlite3.connect('database.db')
df = pd.read_sql('SELECT * FROM table_name', conn)

In [99]:
df = pd.read_csv('../Datasets/Iris.csv')

In [69]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [15]:
df.head() # First 5 rows

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [16]:
df.tail() #last 5 rows

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [17]:
df.info() # Data types and missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [18]:
df.describe()   # Summary statistics

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [19]:
df.shape        # (rows, columns)

(150, 6)

## 2. Data Exploration and Selection

### Accessing Columns

In [23]:
df.Id #returns series

0        1
1        2
2        3
3        4
4        5
      ...
145    146
146    147
147    148
148    149
149    150
Name: Id, Length: 150, dtype: int64

In [22]:
df['Id'] # Returns a Series; useful when column name has spaces

0        1
1        2
2        3
3        4
4        5
      ...
145    146
146    147
147    148
148    149
149    150
Name: Id, Length: 150, dtype: int64

In [93]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}

d = pd.DataFrame(data)

d['Salary'] = [1000, 200, 2002, 1000]

print(d)

      Name  Age      City  Salary
0    Alice   25  New York    1000
1      Bob   30    London     200
2  Charlie   35     Paris    2002
3    David   28     Tokyo    1000

In [98]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}

d = pd.DataFrame(data)

d.drop(0, axis = 0) #axis 0 is for rows

d.drop('Name', axis = 1) #axis 1 is for cols

   Age      City
0   25  New York
1   30    London
2   35     Paris
3   28     Tokyo

### Selecting Rows with .loc[] and .iloc[]

.loc[] - (Label-based indexing): Used for selecting rows and columns by their labels (index and column names).

.iloc[] - (Integer-location based indexing): Used for selecting rows and columns by their integer position (0-indexed).

In [27]:
df.loc[:2]
df.loc[0:2] #both are same; the right bound is included

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [83]:
df.loc[0][0]

/var/folders/1y/f5kcj6d957q8f0525jxg24q80000gn/T/ipykernel_5128/2527876973.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[0][0]

'Aryan'

In [81]:
df.iloc[1] #each row in columnar form

Name    Sai
Age      23
Name: 1, dtype: object

In [29]:
df.loc[:3, 'Species'] #specific rows and columns

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
Name: Species, dtype: object

In [30]:
df.loc[:3, ['Id','Species']]

   Id      Species
0   1  Iris-setosa
1   2  Iris-setosa
2   3  Iris-setosa
3   4  Iris-setosa

In [31]:
# Select first 3 rows and first 2 columns (by position)
df.iloc[0:3, 0:2]

   Id  SepalLengthCm
0   1            5.1
1   2            4.9
2   3            4.7

In [86]:
df.at[0, 'Id']

KeyError: 'Id'

In [37]:
df[df.PetalLengthCm > 6]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
105,106,7.6,3.0,6.6,2.1,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica

In [34]:
df[df['PetalLengthCm'] > 6]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
105,106,7.6,3.0,6.6,2.1,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica

In [36]:
# Multiple conditions
df[(df['PetalLengthCm']) > 6 & (df['PetalWidthCm'] > 5)]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

## 3. Data Cleaning and Preprocessing

### Handling Missing Data

In [101]:
df.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [ ]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [39]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [40]:
df.dropna() #drop nulls

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [42]:
# Fill missing values
df.fillna(0)  
# df.fillna(df.mean())  # Fill with column mean

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

### Changing Data Types

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [48]:
df.Id = df.Id.astype(float) #previously int
df['Id'] = df['Id'].astype(int) #back to int

### Renaming Columns

In [51]:
df.rename(columns = {'SepalLengthCm': 'SepalLength'}, inplace=True)

### String Operations

In [ ]:
df.Species

0         iris-setosa
1         iris-setosa
2         iris-setosa
3         iris-setosa
4         iris-setosa
            ...
145    iris-virginica
146    iris-virginica
147    iris-virginica
148    iris-virginica
149    iris-virginica
Name: Species, Length: 150, dtype: object

In [55]:
df.Species = df.Species.str.lower()

In [56]:
df['Species'].str.contains('iris')

0      True
1      True
2      True
3      True
4      True
       ...
145    True
146    True
147    True
148    True
149    True
Name: Species, Length: 150, dtype: bool

In [58]:
df.Species.value_counts()

Species
iris-setosa        50
iris-versicolor    50
iris-virginica     50
Name: count, dtype: int64

### Applying Functions

.apply(): Applies a function along an axis of the DataFrame or Series.

.map(): Maps values from one Series to another using a dictionary or function (Series only).

lambda: Anonymous (unnamed) functions, often used inline with apply or map.

In [59]:
# Map 'Species' to numerical values using .map()
mapping = { 'iris-setosa' : 0, 'iris-versicolor' : 1, 'iris-virginica' : 2}

df['Species'] = df['Species'].map(mapping)

In [60]:
df['Species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64

## 4. Feature Engineering

Binning (Converting Numeric to Categorical)

Transforming continuous numerical features into discrete categories.

pd.cut(): Bins values into fixed-width bins.

pd.qcut(): Bins values into equal-sized bins (based on quantiles).

In [ ]:
# # Create age groups using fixed bins
# df['age_group'] = pd.cut(df['age'], bins=[0, 18, 35, 60, 100], labels=['child', 'young', 'adult', 'senior'])

# # Create Fare quartiles (equal number of passengers in each bin)
# titanic_df['Fare_Quartile'] = pd.qcut(titanic_df['Fare'], q=4, labels=False, duplicates='drop') # labels=False gives integer labels

### One-Hot Encoding (for Categorical Variables)

Converts categorical variables into a format that machine learning algorithms can understand. 

Creates new binary columns for each category.

In [61]:
df = pd.get_dummies(df, columns=['Species'])

In [62]:
df.Species_0

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: Species_0, Length: 150, dtype: bool

## 5. Grouping and Aggregation

GroupBy

In [65]:
df.groupby('Species_0').SepalLength.mean()

Species_0
False    6.262
True     5.006
Name: SepalLength, dtype: float64

In [ ]:
# pd.pivot_table(df, values='salary', index='department', columns='gender', aggfunc='mean')

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [104]:
df.groupby('Species')['SepalLengthCm'].mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [105]:
df.groupby('Species')['SepalLengthCm'].agg(['mean', 'sum'])

                  mean    sum
Species
Iris-setosa      5.006  250.3
Iris-versicolor  5.936  296.8
Iris-virginica   6.588  329.4

## 6. Merging and Joining

Concatenation

In [ ]:
# pd.concat([df1, df2], axis=0)  # Stack vertically
# pd.merge(df1, df2, on='key_column', how='inner')  # inner, left, right, outer

## 7. Preparing Data for Machine Learning

### Separate Features (X) and Target (y)

In [67]:
df = pd.read_csv('../Datasets/Iris.csv')

X = df.drop('Species', axis=1)
y = df.Species

print(X)
print(y)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object